[color]
	ui = auto
[advice]
	statusHints = false
[diff]
	mnemonicprefix = true
[merge]
	stat = true
[core]
	excludesfile = ~/.gitignore
	editor = vim
	abbrev = 8
[alias]
	ls = log --color --graph --pretty=format:'%Cred%h%Creset \t -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' \t --abbrev-commit
	s = status
	co = checkout
    m = machete
; [credential]
; 	helper = osxkeychain
[log]
	abbrevCommit = yes
[user]
	email = luis.rascao@anchorlabs.com
	signingkey = 9454DA0F12CB1566
	name = Luis Rascao
[pager]
	branch = false
[commit]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
